* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 104%;
}

body {
    background: url("https://notebookoff.uz/upload/resize_cache/iblock/994/550_500_1/o9jxsbho4rbo8e9d72pi8gxdj5doh5o3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
}

.blur {
    backdrop-filter: blur(5px);
    width: 30%;
    height: 70vh;
}

table tr td {
    margin: 10px;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.methods {
    border: 1px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    border-radius: 7px;
}

.route {
    margin-right: 15px;
}

.blue {
    color: #007bff; /* Change the color to blue (#007bff) */
}

.green {
    color: #28a745; /* Change the color to green (#28a745) */
}

.red {
    color: #dc3545; /* Change the color to red (#dc3545) */
}

.yellow {
    color: #ffc107; /* Change the color to yellow (#ffc107) */
}

.bc-blue {
    border-color: #007bff; /* Change the border color to blue (#007bff) */
}

.bc-green {
    border-color: #28a745; /* Change the border color to green (#28a745) */
}

.bc-red {
    border-color: #dc3545; /* Change the border color to red (#dc3545) */
}

.bc-yellow {
    border-color: #ffc107; /* Change the border color to yellow (#ffc107) */
}

.container-fluid{
    display: flex;justify-content: right;align-items:center;
}
